.lecture-div {
    padding: 2em;
  }
  
  .lecture-section {
    padding: 1.25em;
    border-radius: 0.5em;
    margin-bottom: 2em; 
    display: block;
}

.lecture-div h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.lecture-div p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
}

.lecture-section {
  background-color: rgba(57, 57, 57, 0.877);
  padding: 10px 150px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-left: auto;  
  margin-right: auto; 
}

.lecture-section h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.lecture-section h3 {
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 15px;
}

.lecture-section ul {
  list-style-type: none;
  padding-left: 0;
}

.lecture-section li {
  margin-bottom: 10px;
  font-size: 16px;
}

.lecture-section a {
  color: red;
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.3s ease;
}

.lecture-section a:hover {
  color: black;
}

.lecture-section {
  margin-bottom: 30px;
}

  
