/* This defines some variables to use throughout css */
:root {
  --text-color: white;
  --background-color: rgba(0, 0, 0, 0.877);
}
/*This makes sure that the root takes up the whole screen*/
body {
  margin:0;
  overflow: hidden;
}

/*This sets some properties of the whole screen*/
#root {
  height: 100vh;
  width:100vw;
  background-color: var(--background-color);
  overflow:hidden;
}

p {
  color: var(--text-color);
}

.side-bar {
  width: 5em;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  opacity: 0.8;
  transition: 0.35s ease-out;
}

.side-bar-content {
  font-size: 1.5em;
}

.side-bar-element {
  display:flex;
  padding: 0.5em 1em;
}
.side-bar-text {
  padding: 0em 1.5em;
  opacity: 0;
  transition: 0.2s;
  transition-delay: 0.35s;
}

.side-bar:hover {
  width: 15em; 
  opacity: 1;
}

.side-bar:hover .side-bar-text {
  opacity: 1;
}

.side-bar:not(:hover) .side-bar-text {
  transition: none; 
  opacity: 0;
  visibility: hidden;
}

.side-bar-element:hover {
  background-color:rgba(121, 119, 119, 0.358);
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(146, 146, 146);
}

.page {
  display:flex;
  color:white;
}

.page-content{
  width: 60em;
  height: 100vh;
  position: absolute; 
  left: 15em;
  padding: 3em;
  display:flex; 
  justify-content: center;
}

